.container {
    background-color: #020275;
    color: #FFFFFF;

    h1{
        margin: 0;
        padding: 1rem 1rem;
    }

    nav {
        display: flex;
        justify-content: flex-start;
        gap: 5rem;
        align-items: center;
        min-width: 100%;
        min-height: 3rem;
        padding: 0 1rem 1rem 1rem;
        
        button {
            color: inherit;
            background-color: #02023f;
        }
    }
    
}